
env/DLLs/_asyncio.pyd
env/DLLs/_bz2.pyd
env/DLLs/_ctypes.pyd
env/DLLs/_decimal.pyd
env/DLLs/_hashlib.pyd
env/DLLs/_lzma.pyd
env/DLLs/_overlapped.pyd
env/DLLs/_queue.pyd
env/DLLs/_socket.pyd
env/DLLs/_sqlite3.pyd
env/DLLs/_ssl.pyd
env/DLLs/libffi-7.dll
env/DLLs/select.pyd
env/DLLs/unicodedata.pyd
env/Lib/site-packages/markupsafe/_speedups.cp38-win_amd64.pyd
env/Lib/site-packages/pvectorc.cp38-win_amd64.pyd
env/Lib/site-packages/tornado/speedups.cp38-win_amd64.pyd
env/Lib/site-packages/winpty/cywinpty.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/_device.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/_poll.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/_proxy_steerable.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/_version.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/constants.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/context.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/error.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/message.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/socket.cp38-win_amd64.pyd
env/Lib/site-packages/zmq/backend/cython/utils.cp38-win_amd64.pyd
env/Library/bin/libcrypto-1_1-x64.dll
env/Library/bin/libsodium.dll
env/Library/bin/libssl-1_1-x64.dll
env/Library/bin/libzmq-mt-4_3_3.dll
env/Library/bin/sqlite3.dll
env/Library/bin/winpty.dll
env/python.exe
env/python3.dll
env/python38.dll
env/Scripts/jupyter-notebook.exe
env/Scripts/jupyter.exe
env/vcruntime140.dll
